@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.modal-enter {
    opacity: 0;
    max-height: 0;
    transition: opacity 0.3s ease-in, max-height 0.3s ease-in;
  }
  
  .modal-enter-active {
    opacity: 1;
    max-height: 25vh; /* Altura deseada del modal */
  }
  
  .modal-exit {
    opacity: 1;
    max-height: 25vh; /* Puedes ajustar esto a la altura deseada del modal durante la salida */
    transition: opacity 0.3s ease-out, max-height 0.3s ease-out;
  }
  
  .modal-exit-active {
    opacity: 0;
    max-height: 0;
  }